@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@800&family=Outfit&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@800&family=Outfit&family=Playfair+Display&family=Work+Sans:wght@100&display=swap");

$argentina: rgba(13, 110, 253, 0.75);
$white: rgba(255, 255, 255, 0.925);
$img-box-size: 75px;
$boder-radius: 0px 10px 0px 10px;
$back-var-color: rgba(0, 0, 0, 0.9);
$shadow-color: rgba(0, 0, 0, 0.25);
$shadow-box: -2px -1px 25px 4px;
$color-blue: #1f53c5;
